table { width: 100%; }
table, th, tr, td {
  border: 1px solid #d8d8d8;
}
.row1 { background: white; }
.row2 { background: #edf5ff; }
th {
  padding: 5px;
  text-transform: capitalize;
  text-align: center;
  font-size: 90%;
  background: url(../image/grid/fhbg.gif);
  height: 22px;
}
#gridfooter {
  background: url(../image/grid/bg.gif);
  border: 2px solid #d8d8d8;
  margin-top: 10px;
}
#buttons {
  float: left;
  margin-right: 10px;
  padding: 4px;
}
#navigation {
  float: right;
  height: 16px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#navigation .navbutton {
  float:left;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  cursor: pointer;
}
#navigation .navtext {
  float:left;
  height: 16px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1px;
}
#firstbutton { background : url(../image/grid/first.png); }
#previousbutton { background : url(../image/grid/prev.png); }
#nextbutton { background : url(../image/grid/next.png); }
#lastbutton { background : url(../image/grid/last.png); }

#button_other_float li { padding: 4px; }

#search_field {
  width:98%;
  padding:5px;
}

