{% block content %}

<!-- Ajusta a largura dos campos do form -->
<style type="text/css">
#id_plan, #id_accesspoint, #id_proxy, #id_router, #id_hardware, #id_desc { width: 300px; }
#id_ip, #id_mac { width: 130px; }
</style>

{% include 'error_form.html' %}

<div id="divnew" class="window">
  <div class="windowtitle">
    <h1>{% if option %}ALTERAR PONTO DE REDE DE{% else %}CADASTRAR PONTO DE REDE DE{% endif %} <span style="color:red">{{ client|upper }}</span></h1>
    <div id="windowform_hide_show" class="buttonhide" onclick="hide_show_window(this.id);"></div>
  </div>
  <div id="windowform" class="windowcontent">
    <form action="{% if option %}{% url networknode_update %}{% else %}{% url networknode_add %}{% endif %}" method="post">
      {{ form.id }}
      <input type="hidden" name="client" id="id_client" value="{{ client_id }}">
      <div id="client" style="clear:both">
        <div class="lineform">
          <div class="formcell">
            {{ form.plan.label_tag }} {{ form.plan }} <span class="helptext">{{ form.plan.help_text }}</span>
          </div>
        </div>

        <div class="lineform">
          <div class="formcell">
            {{ form.accesspoint.label_tag }} {{ form.accesspoint }} <span class="helptext">{{ form.accesspoint.help_text }}</span>
          </div>
        </div>

        <div class="lineform">
          <div class="formcell">
            {{ form.router.label_tag }} {{ form.router }} <span class="helptext">{{ form.router.help_text }}</span>
          </div>
        </div>

        <div class="lineform">
          <div class="formcell">
            {{ form.useproxy.label_tag }} {{ form.useproxy }} <span class="helptext">{{ form.useproxy.help_text }}</span>
          </div>
        </div>

        <div class="lineform">
          <div class="formcell">
            {{ form.hardware.label_tag }} {{ form.hardware }} <span class="helptext">{{ form.hardware.help_text }}</span>
          </div>
        </div>

        <div class="lineform">
          <div class="formcell">
            {{ form.ip.label_tag }} {{ form.ip }} <span class="helptext">{{ form.ip.help_text }}</span>
          </div>
        </div>

        <div class="lineform">
          <div class="formcell">
            {{ form.mac.label_tag }} {{ form.mac }} <span class="helptext">{{ form.mac.help_text }}</span>
          </div>
        </div>

        <div class="lineform">
          <div class="formcell">
            {{ form.desc.label_tag }} {{ form.desc }} <span class="helptext">{{ form.desc.help_text }}</span>
          </div>
        </div>

        <div class="lineform">
          <div class="formcell">
            {{ form.isblocked.label_tag }} {{ form.isblocked }} <span class="helptext">{{ form.isblocked.help_text }}</span>
          </div>

          <div class="formcell">
            {{ form.isbound.label_tag }} {{ form.isbound }} <span class="helptext">{{ form.isbound.help_text }}</span>
          </div>
        </div>

        {% include 'footer_form_add.html' %}

        <div style="clear:both;"></div>
      </div>
    </form>
  </div>
</div>


{% endblock %}
