{% extends 'base.html' %}

{% block content %}
<script src="/media/js/app/client.js" language="javascript" type="text/javascript"></script>
<div class="window">
  <div class="windowtitle">
    <h1>CLIENTES CADASTRADOS</h1>
    <div id="windowlisting_hide_show" class="buttonhide" onclick="hide_show_window(this.id);"></div>
  </div>
  <div id="windowlisting" class="windowcontent">
    
    <!-- datagrid contendo todos os clientes cadastrados -->
    {% include 'datagrid.html' %}
  </div>
</div>

<!-- form para cadastro de cliente -->
{% include 'client/client_form.html' %}
{% endblock %}

