<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br">
<head>
<meta Http-equiv="ContentType" content="text/html" charset="utf-8">
    
<link href="/media/css/base.css" rel="Stylesheet" type="text/css">
<link href="/media/css/menu.css" rel="Stylesheet" type="text/css">
<link href="/media/css/window.css" rel="Stylesheet" type="text/css">
<link href="/media/css/form.css" rel="Stylesheet" type="text/css">
    
<script src="/media/js/jquery.js" language="javascript" type="text/javascript"></script>
<script src="/media/js/jquery.dimensions.js" language="javascript" type="text/javascript"></script>
<script src="/media/js/menu.js" language="javascript" type="text/javascript"></script>
<script src="/media/js/window.js" language="javascript" type="text/javascript"></script>
<script src="/media/js/ajax.js" language="javascript" type="text/javascript"></script>

<title>SIGEP</title>

</head>
<body>
{% block main %}{% endblock %}
</body>
</html>
