
<script language="javascript" type="text/javascript" src="/media/js/grid.js"></script>

<style type="text/css">
  @import url(/media/css/grid.css);
</style>


<form id="grid_form" action="." method="post">
<div style="width:100%;padding-bottom:5px;padding-top:2px;">
  <input type="text" id="search_field" name="search_field" value="Busca">
</div>
<table id="listing" cellspacing="0" cellpadding="2" border="0">
<thead class="title">
  <tr></tr>
</thead>
<tbody>
</tbody>
</table>

<div id="button_menu_float" class="menufloat">
  <ul></ul>
</div>
    
<div id="gridfooter">
  <div id="buttons">
    <input type="button" id="button_menu" value="Menu">
  </div>
  <div id="navigation">
    <div id="id_total_result" class="navtext">Total:</div>
    <div id="firstbutton" class="navbutton"></div>
    <div id="previousbutton" class="navbutton"></div>
    <div id="id_current" class="navtext"></div>
      <div class="navtext">/</div>
    <div id="id_num_pages" class="navtext"></div>
    <div id="nextbutton" class="navbutton"></div>
    <div id="lastbutton" class="navbutton"></div>
       
    <input type="hidden" id="id_previous_page_number" name="previous_page_number">
    <input type="hidden" id="id_next_page_number" name="next_page_number">
    
    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
</div>
<div style="clear:both"></div>
</form>
